<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="images/icon.ico">
    <title>ACME - Profile</title>
</head>

<body>
    <header>
        <p id="loggedInInfo"></p>
        <script>var firstName = "<%= @name %>"</script>
        <script type="text/javascript" src="../scripts/script.js"></script>
        <img class="logo" src="../images/text.png"> 
    </header>
    <div id="wrapper">
        <nav>
            <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/blog">Blog</a></li>       
                <li><a href="/profile">Profile</a></li> 
                <% if getUserType() >= 3 %>   
                  <li>
                  <a href="/admin">Admin</a>
                  </li>
                <% end %>
            </ul>
        </nav>
        </nav>

        <main>
            <div>
                <p><%=@message%></p>
                <form action="/edit/dateOfBirth?id=<%= params[:id]%>" method="post">
                    <input name="dob" type="textarea" value="<%= @targetUser[:dateOfBirth] %>">
                    <input name="updateButton" type="submit" value="Make Changes">
                </form>

            </div>
        </main>


    </div>

  <footer>
        <p><b>ACME</b>, a fictitious website by Group 1</p>
  </footer>
</body>
</html>
