<%= erb :"common/header" %>
        
        <main>
            <div>
                <p>You do not have <b>authorization</b> to view this page</a></p>
            </div>
        </main>

    </div>

<%= erb :"common/footer" %>