<%= erb :"common/header" %>
        
        <main>
            <div>
                <p>An error has occured, please go back to <a href="/">home</a> and try again!</p>
            </div>
        </main>


    </div>

<%= erb :"common/footer" %>
