<%= erb :"common/header" %>
        
        <main>
            <div>
                <p>You are already signed in, did you want to <strong><a href="/logout">logout</strong>?</p>
            </div>
        </main>


    </div>

<%= erb :"common/footer" %>
