<%= erb :"common/header" %>
        
        <main>
            <div>
                <p>You must be <b>logged in</b> to view this page, please <a href="login">sign in</a></p>
            </div>
        </main>


    </div>
    <footer>

<%= erb :"common/footer" %>