<%= erb :"common/header" %>
        
        <main>
            <div>
                <p>This user has been <strong>suspended</strong>, please contact the system administrator if you believe this has been done by mistake.</p>
            </div>
        </main>


    </div>

<%= erb :"common/footer" %>
